* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  font-family: "DM Sans", sans-serif;
  justify-content: center;
}
header {
  display: grid;
  justify-content: center;
  width: 100vw;
  background-color: #1e2a3f;
}

header .c-header {
  width: 1440px;
  display: grid;
  grid-template-rows: 30px 60px;
  justify-content: center;
}

.e-subheader {
  width: 1440px;
  grid-row: 1;
  display: flex;
  justify-content: center;
}
.e-subheader svg {
  display: block;
  color: white;
  justify-self: center;
}
